<!DOCTYPE html>
<html>

<head>
  <base href="/">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <title>Installation Flow - NextAqua</title>
  <!-- Favicon-->
  <link rel="icon" href="https://www.nextaqua.in/assets/images/Circlelogo.png" type="image/x-icon">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet"
    type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

  <!-- Bootstrap Core Css -->
  <link href="plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Waves Effect Css -->
  <link href="plugins/node-waves/waves.css" rel="stylesheet" />

  <!-- Animation Css -->
  <link href="plugins/animate-css/animate.css" rel="stylesheet" />

  <!-- Morris Chart Css-->
  <link href="plugins/morrisjs/morris.css" rel="stylesheet" />

  <!-- JQuery DataTable Css -->
  <link href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">

  <!-- Custom Css -->
  <link href="css/style.css" rel="stylesheet">

  <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
  <link href="css/themes/all-themes.css" rel="stylesheet" />
  <script>
    var pathArray = window.location.pathname.split('/');
    if (pathArray[2] == undefined) {
      var fromDate = 0;
    } else if (pathArray[2] != undefined) {
      var fromDate = pathArray[2];
    }
    if (pathArray[3] == undefined) {
      var toDate = 0;
    } else if (pathArray[3] != undefined) {
      var toDate = pathArray[3];
    }
    if (pathArray[4] == undefined) {
      var pageNo = 1;
    } else if (pathArray[4] != undefined) {
      var pageNo = pathArray[4];
    }

  </script>

</head>

<body class="theme-teal">

  <!-- #END# Page Loader -->
  <!-- Overlay For Sidebars -->
  <div class="overlay"></div>
  <!-- #END# Overlay For Sidebars -->
  <!-- Top Bar -->
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#navbar-collapse" aria-expanded="false"></a>
        <a href="javascript:void(0);" class="bars"></a>
        <a class="navbar-brand" href="index.html">INSTALLATION FLOW</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">

          
          <!-- Call Search -->
          <li><a href="javascript:void(0);" class="js-search" data-close="true"><i class="material-icons">search</i></a></li>
          <li><a href="javascript:location.reload();"><i class="material-icons">refresh</i></a>
          </li>
          <!-- #END# Call Search -->


          <!-- <li class="pull-right"><a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i
                  class="material-icons">more_vert</i></a></li> -->
        </ul>
      </div>
    </div>
  </nav>

  <!-- Right Sidebar -->
  <aside id="rightsidebar" class="right-sidebar">
    <ul class="nav nav-tabs tab-nav-right" role="tablist">
      <li role="presentation" class="active"><a href="#settings" data-toggle="tab">SETTINGS</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active in active" id="settings">
        <div class="demo-settings">
          <p>ORDER SETTINGS</p>
          <ul class="setting-list">
            <li>
              <span>Accepting Orders</span>
              <div class="switch">
                <label><input type="checkbox" checked><span class="lever"></span></label>
              </div>
            </li>
            <li>
              <span>Auto Accept Orders</span>
              <div class="switch">
                <label><input type="checkbox"><span class="lever"></span></label>
              </div>
            </li>
          </ul>
          <!-- <p>SYSTEM SETTINGS</p>
          <ul class="setting-list">
            <li>
              <span>Notifications</span>
              <div class="switch">
                <label><input type="checkbox" checked><span class="lever"></span></label>
              </div>
            </li>
            <li>
              <span>Auto Updates</span>
              <div class="switch">
                <label><input type="checkbox" checked><span class="lever"></span></label>
              </div>
            </li>
          </ul> -->
          <p>ACCOUNT SETTINGS</p>
          <ul class="setting-list">
            <li>
              <span>Offline</span>
              <div class="switch">
                <label><input type="checkbox"><span class="lever"></span></label>
              </div>
            </li>
            <!-- <li>
              <span>Location Permission</span>
              <div class="switch">
                <label><input type="checkbox" checked><span class="lever"></span></label>
              </div>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </aside>
  </section>
  <!-- #END# Right Sidebar -->

  <!-- Search Bar -->
  <div class="search-bar">
    <div class="search-icon">
        <i class="material-icons">search</i>
    </div>
    <input type="text" placeholder="Order ID" id="searchOrderID" oninput="searchByOrderIDTotal()">
    <div class="close-search">
      <a href="" id="openSearchButton" target="_blank"><i class="material-icons">search</i></a>&nbsp;&nbsp;
        <i class="material-icons">close</i>
    </div>
</div>
<!-- #END# Search Bar -->
<script>
  function searchByOrderIDTotal() {
    var orderID = document.getElementById("searchOrderID").value;

    var url = "/searchByOrderID/"+orderID;
    $("#openSearchButton").attr("href", url);
  }
</script>

  <!-- #Top Bar -->


  <section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <!-- <h2>DASHBOARD</h2> -->
      </div>
      <!-- Widgets -->
      <div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" onclick="window.location='/';">
          <div class="info-box-4 hover-zoom-effect bg-teal">
            <div class="content">
              <div class="text"><b>OPEN ORDERS</b></div>
              <div class="number count-to" data-from="0" data-to="<%=newOrdersCount%>" data-speed="2"
                data-fresh-interval="20"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" onclick="window.location='/reconfirm/0/1/0';">
          <div class="info-box-4 hover-zoom-effect">
            <div class="content">
              <div class="text"><b>RECONFIRM</b></div>
              <div class="number count-to" data-from="0" data-to="<%=reconfirmOrdersCount%>" data-speed="2"
                data-fresh-interval="20">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" onclick="window.location='/readyForInstallation/0/1/0';">
          <div class="info-box-4 hover-zoom-effect">
            <div class="content">
              <div class="text"><b>READY FOR INSTALLATION</b></div>
              <div class="number count-to" data-from="0" data-to="<%=readyToInstallCount%>" data-speed="2"
                data-fresh-interval="20">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" onclick="window.location='/rescheduled/1';">
          <div class="info-box-4 hover-zoom-effect">
            <div class="content">
              <div class="text"><b>RESCHEDULED ORDERS</b></div>
              <div class="number count-to" data-from="0" data-to="<%=totalRescheduleCount%>" data-speed="2"
                data-fresh-interval="20">
              </div>
            </div>
          </div>
        </div>


      </div>




      <div class="row clearfix">

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <div class="info-box-4 hover-zoom-effect">
            <div class="content">
              <div class="text">
                <b>SE RESPONSE STATUS</b>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="text">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
                    onclick="window.location='/seResponseStatus/0/pending/1/0';">
                    Pending </br> <b>
                      <%=sePendingList%>
                    </b>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
                    onclick="window.location='/seResponseStatus/0/accepted/1/0';">
                    Accepted </br><b>
                      <%=seAcceptedList%>
                    </b>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
                    onclick="window.location='/seResponseStatus/0/declined/1/0';">
                    Cancelled </br><b>
                      <%=seDeclinedList%>
                    </b>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <div class="info-box-4 hover-zoom-effect">
            <div class="content">
              <div class="text">
                <b>FARMER RESPONSE STATUS</b>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="text">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
                    onclick="window.location='/viewFarmerStatus/pending/1/0';">
                    Pending </br><b>
                      <%=farmerPendingList%>
                    </b>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
                    onclick="window.location='/viewFarmerStatus/accepted/1/0';">
                    Accepted </br><b>
                      <%=farmerAcceptedList%>
                    </b>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
                    onclick="window.location='/viewFarmerStatus/cancelled/1/0';">
                    Cancelled </br><b>
                      <%=farmerDeclinedList%>
                    </b>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <div class="info-box-4 hover-zoom-effect">
            <div class="content">
              <div class="text">
                <b>INSTALLATION STATUS</b>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="text">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
                    onclick="window.location='/viewInstallationStatus/pending/1/0/0/0';">
                    In Progress </br><b>
                      <%=installationPendingList%>
                    </b>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
                    onclick="window.location='/viewInstallationStatus/partial/1/0/0/0';">
                    Partial </br><b>
                      <%=installationPartialCompleteList%>
                    </b>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
                    onclick="window.location='/viewInstallationStatus/completed/1/0/0/0';">
                    Completed </br><b>
                      <%=installationCompletedList%>
                    </b>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- #END# Widgets -->

      <!-- Hover Rows -->
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="header">
              <h2>
                <span id="titleText"></span>
              </h2>
              <script>

                var fromDate1 = fromDate;
                var toDate1 = toDate;
                if (parseInt(fromDate1) == 0 && parseInt(toDate1) == 0) {
                  document.getElementById("titleText").innerHTML = "OPEN ORDERS";
                } else {
                  document.getElementById("titleText").innerHTML = "OPEN ORDERS (" + fromDate1 + " to " + toDate1 + ")";
                }           
              </script>
              <ul class="header-dropdown m-r--5">

                <li class="dropdown">
                  <div class="row clearfix col-lg-12 col-md-12">
                    <div class="col-lg-10 col-md-10">
                      <input type="text" class="form-control" id="orderID" placeholder="Order ID" oninput="searchByOrderID()">
                    </div>
                    <div class="col-lg-2 col-md-2">
                      <a href="/page/0/0/1/0" id="searchByOrderID">
                        <button type="button" class="btn bg-teal waves-effect">
                          <i class="material-icons">search</i>
                        </button>
                      </a>
                    </div>
                    <script>
                      function searchByOrderID() {
                        var orderID = document.getElementById("orderID").value;

                        var url = "/page/0/0/1/"+orderID;
                        $("#searchByOrderID").attr("href", url);
                      }
                    </script>
                  </div>
                </li>


                <li class="dropdown">
                  <div class="row clearfix col-lg-12 col-md-12">
                    <div class="col-lg-5 col-md-5">
                      <input type="date" class="form-control date" id="FromDate" onchange="handler()">
                    </div>
                    <div class="col-lg-5 col-md-5">
                      <input type="date" class="form-control date" id="ToDate" onchange="handler()">
                    </div>
                    <div class="col-lg-2 col-md-2">
                      <a href="/page/0/0/1/0" id="dateRangeFilter">
                        <button type="button" class="btn bg-teal waves-effect">
                          <i class="material-icons">search</i>
                        </button>
                      </a>
                    </div>
                    <script>
                      function handler() {
                        var fromDate = document.getElementById("FromDate").value;
                        var toDate = document.getElementById("ToDate").value;
                        var fromDateLocalStorage = fromDate;
                        var toDateLocalStorage = toDate;

                        var url = "/page/" + fromDateLocalStorage + "/" + toDateLocalStorage + "/1/0";
                        $("#dateRangeFilter").attr("href", url);


                        var fromDateLocalStorage = fromDate;
                        var toDateLocalStorage = toDate;

                        url1 = "/page/" + fromDateLocalStorage + "/" + toDateLocalStorage + "/<%=dataPaginationPageNo-1%>/0";
                        $("#previosPageUrl").attr("href", url1);

                        url2 = "/page/" + fromDateLocalStorage + "/" + toDateLocalStorage + "/<%=dataPaginationPageNo+1%>/0";
                        $("#nextPageUrl").attr("href", url2);

                      }


                      $(window).on("load", function () {
                        var fromDateLocalStorage = fromDate;
                        var toDateLocalStorage = toDate;

                        url1 = "/page/" + fromDateLocalStorage + "/" + toDateLocalStorage + "/<%=dataPaginationPageNo-1%>/0";
                        $("#previosPageUrl").attr("href", url1);

                        url2 = "/page/" + fromDateLocalStorage + "/" + toDateLocalStorage + "/<%=dataPaginationPageNo+1%>/0";
                        $("#nextPageUrl").attr("href", url2);
                      });
                    </script>
                  </div>
                </li>
              </ul>
            </div>
            <div class="body table-responsive">
              <table class="table table-bordered table-striped table-hover js-basic-example dataTable"
                id="openOrdersTable">
                <thead>
                  <tr>
                    <th style="text-align: center;">ORDER ID</th>
                    <th style="text-align: center;">BDE NAME</th>
                    <th style="text-align: center;">ORDERED DATE</th>
                    <th style="text-align: center;">FOLLOWUP DATE</th>
                    <th style="text-align: center;">FARMER NAME</th>
                    <th style="text-align: center;">FARM NAME</th>
                    <th style="text-align: center;">FARMER MOBILE</th>
                    <th style="text-align: center;">REGION</th>
                    <th style="text-align: center;">ITEMS &nbsp;-&nbsp; ORD &nbsp;-&nbsp; INST</th>
                    <th style="text-align: center;">REMARKS</th>
                    <th style="text-align: center;">ACTION</th>
                  </tr>
                </thead>
                <!-- <tfoot>
                  <tr>
                    <th style="text-align: center;">ORDER ID</th>
                    <th style="text-align: center;">BDE NAME</th>
                    <th style="text-align: center;">ORDERED DATE</th>
                    <th style="text-align: center;">FOLLOWUP DATE</th>
                    <th style="text-align: center;">FARMER NAME</th>
                    <th style="text-align: center;">FARM NAME</th>
                    <th style="text-align: center;">FARMER MOBILE</th>
                    <th style="text-align: center;">REGION</th>
                    <th style="text-align: center;">ITEMS &nbsp;-&nbsp; ORD &nbsp;-&nbsp; INST</th>
                    <th style="text-align: center;">REMARKS</th>
                    <th style="text-align: center;">ACTION</th>
                  </tr>
                </tfoot> -->
                <tbody style="text-align: center;">
                  <% data1.forEach(function(singleData){ %>
                    <tr>
                      <td width="5%">
                        <%= singleData.data.order.woo_commerce_order_id %>
                      </td>
                      <td width="7%">
                        <% if(singleData.data.order.farmer.relationship_BDE.first_name == "Archived"){%>
                          --
                          <%}else{%>
                        <%= singleData.data.order.farmer.relationship_BDE.first_name %>
                        <%}%>
                      </td>
                      <td width="7%">
                        <%= singleData.data.order.ordercreated.substring(0,10) %>
                      </td>
                      <td width="7%">
                        <% if(singleData.data.followup_date !=null){%>
                          <%=singleData.data.followup_date.substring(0,10)%>
                            <%}else{%>
                              No Followups
                              <%}%>
                      </td>
                      <td>
                        <% if(singleData.data.order.farmer.firstname == "Default"){%>
                          --
                          <%}else{%>
                            <%= singleData.data.order.farmer.firstname %>
                        <%}%>
                        
                      </td>
                      <td>
                        <!-- onchange="selectedFarm<%=singleData.id%>()" -->
                        <select multiple="multiple" id="farmNamesId<%=singleData.data.id%>" multiple>
                          <% singleData.data.order.farmer.farms.forEach(function(farmNames){ %>
                            <option value="<%=farmNames.id%>">
                              <%=farmNames.farm_name%>
                            </option>
                            <%});%>
                        </select>

                        <!-- <script>
                          $(function () {
                            $('#farmNamesId<%=singleData.data.id%>').change(function (e) {

                              var selected = $(e.target).val();
                              var selectedFarmId = selected;
                              var selectedDate = document.getElementById("selectedDate<%= singleData.data.id%>").value;
                              var selectedTimeframe = document.getElementById("selectedTimeframe<%= singleData.data.id%>").value;
                              var remarks = document.getElementById("remarks<%= singleData.data.id%>").value;
                              var fromDate1 = fromDate;
                              var toDate1 = toDate;
                              var pageNo1 = pageNo;

                              url = "/assignDate/<%=singleData.data.id%>/" + selectedFarmId + "/" + selectedDate + "/" + selectedTimeframe + "/" + remarks + "/" + fromDate1 + "/" + toDate1 + "/" + pageNo1;
                              $("#addBtn<%=singleData.data.id%>").attr("href", url);

                              return true;
                            });
                          });
                        </script> -->
                      </td>
                      <td>
                        <% if(singleData.data.order.farmer.mobile_number == "9000278567"){%>
                          --
                          <%}else{%>
                            <%= singleData.data.order.farmer.mobile_number %></br><a
                            href="tel:<%= singleData.data.order.farmer.mobile_number %>"><button type="button"
                              class="btn bg-teal btn-circle waves-effect waves-circle waves-float">
                              <i class="material-icons">call</i>
                            </button></a>
                        <%}%>


                        
                      </td>
                      <td> <button data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top"
                          title="Shipping Address" data-content="<%= singleData.data.order.shipping %>">
                          <%= singleData.data.region %>
                        </button>
                      </td>
                      <td style="width: 15%;">
                        <% if(singleData.powermonItems != "Powermon - 0 - 0" && singleData.apfcItems != "APFC - 0 - 0"){%>
                        <%= singleData.powermonItems %></br>
                        <%= singleData.apfcItems %>
                        <%}else if(singleData.powermonItems == "Powermon - 0 - 0" && singleData.apfcItems != "APFC - 0 - 0"){%>
                          <%= singleData.apfcItems %>
                          <%}else if(singleData.powermonItems != "Powermon - 0 - 0" && singleData.apfcItems == "APFC - 0 - 0"){%>
                            <%= singleData.powermonItems %>
                            <%}else{%>
                              --
                              <%}%>
                      </td>
                      <td style="width: 20%;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">

                            <% singleData.remarks.slice(0, 3).forEach(singleRemark=> {%>
                              <% if(singleRemark.remarks.length !=0 ){%>
                                <%= singleRemark.remarks%></br>
                                  <%}else if(singleRemark.remarks.length==0){%>
                                    No Remarks
                                    <%}%>
                                      <% }) %>

                                        <div class="modal fade" id="modal<%=singleData.data.id%>" tabindex="-1"
                                          role="dialog">
                                          <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h4 class="modal-title" id="defaultModalLabel">REMARKS</h4>
                                              </div>
                                              <div class="modal-body">
                                                <table>
                                                  <% singleData.remarks.forEach(singleRemark=> {%>
                                                    <% if(singleRemark.remarks.length !=0 ){%>
                                                      <tr>
                                                        <td>
                                                          <%= singleRemark.modified_date%>
                                                        </td>
                                                        <td>
                                                          <%= singleRemark.remarks%>
                                                        </td>
                                                      </tr>
                                                      <%}else if(singleRemark.remarks.length==0){%>
                                                        No Remarks
                                                        <%}%>
                                                          <% }) %>
                                                </table>
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-link waves-effect"
                                                  data-dismiss="modal">CLOSE</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>


                                        <i class="material-icons" data-toggle="modal"
                                          data-target="#modal<%=singleData.data.id%>">more_horiz</i>
                          </div>

                          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <ul>
                              <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                  role="button" aria-haspopup="true" aria-expanded="false">
                                  <i class="material-icons">keyboard_arrow_down</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                  <li><a href="javascript:void(0)"
                                      onclick="enableSubmitButton<%=singleData.data.id%>(1,'CS - Call Pickedup and Confirmed')">Call
                                      Pickedup and
                                      Confirmed</a></li>
                                  <li><a href="javascript:void(0)"
                                      onclick="enableSubmitButton<%=singleData.data.id%>(1,'CS - BDE Confirmed')">BDE
                                      Confirmed</a>
                                  </li>
                                  <li><a href="/addRemarks/<%=singleData.data.id%>/CS - Didnt Pick Call"
                                      onclick="enableSubmitButton<%=singleData.data.id%>(0)">Didn't Pick Call</a>
                                  </li>
                                  <li><a href="/addRemarks/<%=singleData.data.id%>/CS - Number doesnt exist"
                                      onclick="enableSubmitButton<%=singleData.data.id%>(0)">Number doesn't exist</a>
                                  </li>
                                  <li onclick="openFollowupModal<%=singleData.data.id%>()"><a>Call me later</a>
                                  </li>
                                  <li><a href="/addRemarks/<%=singleData.data.id%>/CS - Customer Abused"
                                      onclick="enableSubmitButton<%=singleData.data.id%>(0)">Customer Abused</a></li>
                                </ul>
                              </li>
                            </ul>



                            <div class="modal fade" id="followbackModal<%=singleData.data.id%>" tabindex="-1"
                              role="dialog" data-keyboard="false" data-backdrop="static">
                              <div class="modal-dialog modal-sm" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h4 class="modal-title" id="largeModalLabel">Add Followup Date</h4>
                                  </div>
                                  <div class="modal-body">
                                    <div class="row clearfix">
                                      <div><input type="datetime-local" class="form-control date"
                                          id="followupDate<%=singleData.data.id%>"
                                          onchange="addFollowupDate<%=singleData.data.id%>(event)" required></div>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <a href="#" id="followupBtn<%=singleData.data.id%>"><button id="followupBtn<%=singleData.data.id%>1"
                                        type="button" class="btn btn-link waves-effect bg-teal">CREATE
                                        FOLLOWUP</button></a>
                                    <button type="button" class="btn btn-link waves-effect bg-red"
                                      data-dismiss="modal">CLOSE</button>
                                  </div>
                                </div>
                              </div>
                            </div>


                            <script>
                              function openFollowupModal<%=singleData.data.id%> () {
                                $('#followbackModal<%=singleData.data.id%>').modal('show');
                              }

                              function addFollowupDate<%=singleData.data.id%> (e) {
                                var followupDate = document.getElementById("followupDate<%=singleData.data.id%>").value;

                                url = "/assignFollowupDate/<%=singleData.data.id%>/Call me later/" + followupDate;
                                $("#followupBtn<%=singleData.data.id%>").attr("href", url);

                                return true;
                              }
                            </script>


                          </div>

                        </div>
                        <script>
                          function enableSubmitButton<%=singleData.data.id%> (a, b) {

                            if (a == 1) {
                              $("#addBtn<%=singleData.data.id%>1").attr("disabled", false);

                              localStorage.removeItem("remarks<%= singleData.data.id%>");
                              var x = b;
                              localStorage.setItem("remarks<%= singleData.data.id%>", x);
                            } else if (a == 0) {
                              $("#addBtn<%=singleData.data.id%>1").attr("disabled", true);
                              // localStorage.removeItem("remarks<%= singleData.data.id%>");
                            }


                            return true;
                          }
                        </script>
                        <style>
                          li {
                            list-style-type: none;
                          }
                        </style>

                      </td>



                      <td style="width: 10%;">
                        <a><button data-toggle="modal" data-target="#openScheduleDateModal<%=singleData.data.id%>"
                            class="btn bg-teal waves-effect col-lg-12 col-md-12 col-sm-12 col-xs-12"
                            id="addBtn<%=singleData.data.id%>1" disabled>Schedule Date</button>
                        </a></br>
                        <a><button data-toggle="modal" data-target="#openMarkAsCompleteModal<%=singleData.data.id%>"
                            class="btn bg-orange waves-effect col-lg-12 col-md-12 col-sm-12 col-xs-12"
                            id="addBtn<%=singleData.data.id%>1">Mark as Complete</button>
                        </a></br>
                        <a><button data-toggle="modal" data-target="#cancelOrderModal<%=singleData.data.id%>"
                          class="btn bg-red waves-effect col-lg-12 col-md-12 col-sm-12 col-xs-12"
                          id="addBtn<%=singleData.data.id%>1">Cancel Order</button>
                      </a>





                        <div class="modal fade" id="openMarkAsCompleteModal<%=singleData.data.id%>" tabindex="-1"
                          role="dialog" data-keyboard="false" data-backdrop="static">
                          <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title" id="largeModalLabel">Mark As Complete</h4>
                              </div>
                              <div class="modal-body">
                                <div class="form-group">
                                  <label>SE Name:</label>
                                  <select id="SElistSelect<%=singleData.data.id%>" onchange="handler1<%=singleData.data.id%>()">
                                    <option value="">--SELECT EMPLOYEE--</option>
                                    <% seList.forEach(function(SEdetails){ %>
                                        <option value="<%=SEdetails.id%>">
                                            <%=SEdetails.first_name%> <%=SEdetails.last_name%>
                                        </option>
                                        <%})%>
                                </select></br></br>
                                <label>Date of Completion</label>
                                <div class="form-line"><input type="date" class="form-control date" id="dateTime1<%=singleData.data.id%>" onchange="handler1<%=singleData.data.id%>()"></div>
                              </div>
                              </div>
                              <div class="modal-footer">
                                <a href="#" id="confirmButtonWithDates<%=singleData.data.id%>"><button id="confirmButton<%=singleData.data.id%>"
                                    type="button" class="btn btn-link waves-effect bg-teal">Mark as
                                    Completed</button></a>
                                <button type="button"
                                  class="btn btn-link waves-effect bg-red" data-dismiss="modal">CLOSE</button>
                              </div>
                            </div>
                          </div>
                          <script>
                            function handler1<%=singleData.data.id%> () {
                              var orderID = <%=singleData.data.id%>;
                            var fromDate2 = fromDate;
                            var toDate2 = toDate;
                            var pageNo1 = pageNo;
                            var SEName = document.getElementById("SElistSelect<%=singleData.data.id%>").value;
                            var dateOfCompletion = document.getElementById("dateTime1<%=singleData.data.id%>").value;

                            url = "/markAsComplete/" + orderID + "/" + SEName + "/" + dateOfCompletion + "/" + fromDate2 + "/" + toDate2 + "/" + pageNo1;
                            $("#confirmButtonWithDates<%=singleData.data.id%>").attr("href", url);
                          // return true;
                        }
                        
                          </script>
                        </div>





                        <div class="modal fade" id="cancelOrderModal<%=singleData.data.id%>" tabindex="-1"
                          role="dialog" data-keyboard="false" data-backdrop="static">
                          <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title" id="largeModalLabel">Enter Order ID to Cancel Order</h4>
                              </div>
                              <div class="modal-body">
                                <div class="form-group">
                                  <div class="form-line">
                                    <input type="text" class="form-control"
                                      placeholder="<%=singleData.data.order.woo_commerce_order_id%>"
                                      id="confirmCancelInput<%=singleData.data.id%>" />
                                  </div>
                                </div>
                                <!-- onchange="enableButton<%=singleData.data.id%>(this.value)"  -->
                              </div>
                              <div class="modal-footer">
                                <a href="#" id="cancelButtonWithDates<%=singleData.data.id%>"><button id="calcelButton<%=singleData.data.id%>"
                                    type="button" class="btn btn-link waves-effect bg-teal" disabled>Cancel Order</button></a>
                                <button type="button"
                                  class="btn btn-link waves-effect bg-red" data-dismiss="modal">CLOSE</button>
                              </div>
                            </div>
                          </div>
                          <script>
                            var orderID1 = <%=singleData.data.order.woo_commerce_order_id%>;
                            var fromDate3 = fromDate;
                            var toDate3 = toDate;
                            var pageNo1 = pageNo;

                            url = "/cancelOrder/" + orderID1 + "/" + fromDate3 + "/" + toDate3 + "/" + pageNo1;
                            console.log(url);
                            $("#cancelButtonWithDates<%=singleData.data.id%>").attr("href", url);
                          </script>
                          <script>

                            var el = document.getElementById("confirmCancelInput<%=singleData.data.id%>");
                            el.addEventListener('keyup', function () {
                              var inputValue = document.getElementById("confirmCancelInput<%=singleData.data.id%>").value;
                              var confirmValue = <%=singleData.data.order.woo_commerce_order_id%>;
                              if (parseInt(inputValue) == parseInt(confirmValue)) {
                                $("#calcelButton<%=singleData.data.id%>").attr("disabled", false);
                              } else {
                                $("#calcelButton<%=singleData.data.id%>").attr("disabled", true);
                              }
                              console.log(inputValue, confirmValue);
                            });
                          </script>
                        </div>



                      </td>
                      <div class="modal fade" id="openScheduleDateModal<%=singleData.data.id%>" tabindex="-1"
                        role="dialog" data-keyboard="false" data-backdrop="static">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title" id="largeModalLabel">Add Confirmed Date</h4>
                            </div>
                            <div class="modal-body">
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><input type="date"
                                  class="form-control date" id="dateTime<%=singleData.data.id%>"
                                  onchange="handler<%=singleData.data.id%>(event)" required></div>
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <select id="timeframe<%=singleData.data.id%>"
                                  onchange="selectedTimeFrameFunction<%=singleData.data.id%>()">
                                  <option value="">--Select Time--</option>
                                  <option value="7AM - 10AM">7:00 AM - 10:00 AM</option>
                                  <option value="10AM - 1PM">10:00 AM - 1:00 PM</option>
                                  <option value="2PM - 5PM">2:00 PM - 5:00 PM</option>
                                  <option value="7AM - 1PM">7:00 AM - 1:00 PM</option>
                                  <option value="7AM - 5PM">7:00 AM - 5:00 PM</option>
                                </select>
                              </div>
                            </div>

                            <script>
                              function handler<%=singleData.data.id%> (e) {
                                var selectedFarmId = $('#farmNamesId<%=singleData.data.id%>').val() || [];
                                var selectedDate = document.getElementById("dateTime<%=singleData.data.id%>").value;
                                var selectedTimeframe = document.getElementById("timeframe<%=singleData.data.id%>").value;
                                // var remarks = document.getElementById("remarks<%= singleData.data.id%>").value;
                                var remarks = localStorage.getItem("remarks<%= singleData.data.id%>");
                                var fromDate1 = fromDate;
                                var toDate1 = toDate;
                                var pageNo1 = pageNo;

                                url = "/assignDate/<%=singleData.data.id%>/" + selectedFarmId + "/" + selectedDate + "/" + selectedTimeframe + "/" + remarks + "/" + fromDate1 + "/" + toDate1 + "/" + pageNo1;
                                $("#addBtn<%=singleData.data.id%>").attr("href", url);

                                return true;
                              }


                              function selectedTimeFrameFunction<%=singleData.data.id%> () {
                                // var x = document.getElementById("timeframe<%=singleData.data.id%>").value;
                                var selectedFarmId = $('#farmNamesId<%=singleData.data.id%>').val() || [];
                                // var selectedFarmId = document.getElementById("farmNamesId<%=singleData.data.id%>").value;
                                var selectedDate = document.getElementById("dateTime<%=singleData.data.id%>").value;
                                var selectedTimeframe = document.getElementById("timeframe<%=singleData.data.id%>").value;
                                // var remarks = document.getElementById("remarks<%= singleData.data.id%>").value;
                                var remarks = localStorage.getItem("remarks<%= singleData.data.id%>");
                                var fromDate1 = fromDate;
                                var toDate1 = toDate;
                                var pageNo1 = pageNo;


                                url = "/assignDate/<%=singleData.data.id%>/" + selectedFarmId + "/" + selectedDate + "/" + selectedTimeframe + "/" + remarks + "/" + fromDate1 + "/" + toDate1 + "/" + pageNo1;
                                $("#addBtn<%=singleData.data.id%>").attr("href", url);

                                return true;
                              }


                             
                            </script>


                            <div class="modal-footer">
                              <a href="#" id="addBtn<%=singleData.data.id%>"><button id="followupBtn" type="button" class="btn btn-link waves-effect bg-teal">ASSIGN
                                  DATE</button></a>
                              <button type="button"
                                class="btn btn-link waves-effect bg-red" data-dismiss="modal">CLOSE</button>
                            </div>
                          </div>
                        </div>
                      </div>

                    </tr>
                    <% }) %>
                </tbody>

                <script>

                  function setURLs() {
                    var fromDateLocalStorage = fromDate;
                    var toDateLocalStorage = toDate;

                    url1 = "/page/" + fromDateLocalStorage + "/" + toDateLocalStorage + "/<%=dataPaginationPageNo-1%>/0";
                    $("#previosPageUrl").attr("href", url1);

                    url2 = "/page/" + fromDateLocalStorage + "/" + toDateLocalStorage + "/<%=dataPaginationPageNo+1%>/0";
                    $("#nextPageUrl").attr("href", url2);
                    return true;
                  }
                </script>
                <nav>
                  <ul class="pagination">
                    <% if(dataPaginationPrevious==null){%>
                      <li class="disabled">
                        <a href="javascript:void(0);">
                          <i class="material-icons">chevron_left</i>
                        </a>
                      </li>
                      <%}else{%>
                        <li>
                          <a id="previosPageUrl" href="#">
                            <i class="material-icons">chevron_left</i>
                          </a>
                        </li>
                        <%}%>
                          <li class="active bg-teal"><a href="javascript:void(0);">Page <%=dataPaginationPageNo%> of
                                <%=dataPaginationTotalPages%></a></li>

                          <% if(dataPaginationNext==null){%>
                            <li class="disabled">
                              <a href="javascript:void(0);">
                                <i class="material-icons">chevron_right</i>
                              </a>
                            </li>
                            <%}else{%>
                              <li>
                                <a id="nextPageUrl" href="#">
                                  <i class="material-icons">chevron_right</i>
                                </a>
                              </li>
                              <%}%>
                  </ul>
                </nav>
              </table>

              <script>
                var table, rows, switching, i, x, y, shouldSwitch;
                table = document.getElementById("openOrdersTable");
                switching = true;
                while (switching) {
                  switching = false;
                  rows = table.rows;
                  for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("TD")[0];
                    y = rows[i + 1].getElementsByTagName("TD")[0];
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                      shouldSwitch = true;
                      break;
                    }
                  }
                  if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                  }
                }
              </script>


            </div>
          </div>
        </div>
      </div>
      <!-- #END# Hover Rows -->
    </div>

  </section>

  <!-- Jquery Core Js -->
  <script src="plugins/jquery/jquery.min.js"></script>
  <script src="js/pages/ui/tooltips-popovers.js"></script>

  <!-- Bootstrap Core Js -->
  <script src="plugins/bootstrap/js/bootstrap.js"></script>

  <!-- Select Plugin Js -->
  <!-- <script src="plugins/bootstrap-select/js/bootstrap-select.js"></script> -->

  <!-- Jquery DataTable Plugin Js -->
  <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>


  <!-- Slimscroll Plugin Js -->
  <script src="plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

  <!-- Waves Effect Plugin Js -->
  <script src="plugins/node-waves/waves.js"></script>

  <!-- Jquery CountTo Plugin Js -->
  <script src="plugins/jquery-countto/jquery.countTo.js"></script>

  <!-- Morris Plugin Js -->
  <script src="plugins/raphael/raphael.min.js"></script>
  <script src="plugins/morrisjs/morris.js"></script>

  <!-- ChartJs -->
  <script src="plugins/chartjs/Chart.bundle.js"></script>

  <!-- Flot Charts Plugin Js -->
  <script src="plugins/flot-charts/jquery.flot.js"></script>
  <script src="plugins/flot-charts/jquery.flot.resize.js"></script>
  <script src="plugins/flot-charts/jquery.flot.pie.js"></script>
  <script src="plugins/flot-charts/jquery.flot.categories.js"></script>
  <script src="plugins/flot-charts/jquery.flot.time.js"></script>

  <!-- Sparkline Chart Plugin Js -->
  <script src="plugins/jquery-sparkline/jquery.sparkline.js"></script>

  <!-- Custom Js -->
  <script src="js/admin.js"></script>
  <script src="js/pages/index.js"></script>
  <script src="js/pages/tables/jquery-datatable.js"></script>

  <!-- Demo Js -->
  <script src="js/demo.js"></script>
</body>

</html>