<!DOCTYPE html>
<html>

<head>
  <base href="/">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <title>Installation Flow - NextAqua</title>
  <!-- Favicon-->
  <link rel="icon" href="https://www.nextaqua.in/assets/images/Circlelogo.png" type="image/x-icon">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet"
    type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

  <!-- Bootstrap Core Css -->
  <link href="plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Custom Css -->
  <link href="css/style.css" rel="stylesheet">

</head>

<body class="theme-teal">


  <!-- #Top Bar -->


  <section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <!-- <h2>DASHBOARD</h2> -->
      </div>


      <!-- Hover Rows -->
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="header">
              <h2>
               ORDER DETAILS
              </h2>
            </div>
            <div class="body table-responsive">
              <table class="table table-bordered table-striped table-hover js-basic-example dataTable"
                id="openOrdersTable">
                <thead>
                  <tr>
                    <th style="text-align: center;">ORDER ID</th>
                    <th style="text-align: center;">STATE</th>
                    <th style="text-align: center;">ACTIONS</th>
                  </tr>
                </thead>
                <tbody style="text-align: center;">
                  <% if(!data){%>
                    <tr>
                      <td width="100%">
                        Order ID Not Found
                      </td>
                    
                    </tr>
                    <%}else if(data){%>
                      <tr>
                        <td width="40%">
                          <%= data.order.woo_commerce_order_id %>
                        </td>
                        <td width="40%">
                          <% if(data.schedulestatus == "New Order"){ %>
                          OPEN ORDERS
                        <%}%>
                        <% if(data.schedulestatus == "Farmer_Date_Confirm"){ %>
                          RECONFIRM
                        <%}%>
                        <% if(data.schedulestatus == "Farmer_Reconfirm"){ %>
                          READY FOR INSTALLATION
                        <%}%>
                        <% if(data.schedulestatus == "SM_Reschedule" || data.schedulestatus == "Cancelled_SE_ReSchedule" || data.schedulestatus == "Famer_Final_Cancelled"){ %>
                          RESCHEDULED
                        <%}%>
                        <% if(data.schedulestatus == "Assigned_SE"){ %>
                          SE RESPONSE STATUS -> PENDING
                        <%}%>
                        <% if(data.schedulestatus == "Send_Farmer_Confirmation"){ %>
                          SE RESPONSE STATUS -> ACCEPTED </br> FARMER RESPONSE STATUS -> PENDING
                        <%}%>
                        <% if(data.schedulestatus == "Cancelled_SE"){ %>
                          SE RESPONSE STATUS -> CANCELLED
                        <%}%>
                        <% if(data.schedulestatus == "Farmer_Final_Confirmation"){ %>
                          FARMER RESPONSE STATUS -> ACCEPTED
                        <%}%>
                        <% if(data.schedulestatus == "SE_Attended"){ %>
                          INSTALLATION STATUS -> IN PROGRESS
                        <%}%>
                        <% if(data.schedulestatus == "Partial Completed"){ %>
                          INSTALLATION STATUS -> PARTIAL COMPLETE
                        <%}%>
                        <% if(data.schedulestatus == "Completed"){ %>
                          INSTALLATION STATUS -> COMPLETED
                        <%}%>
                        </td>
                      
                        <% if(data.schedulestatus != "Completed"){%>
                        <td style="width: 20%;">
                          <a><button data-toggle="modal" data-target="#openMarkAsCompleteModal<%=data.id%>"
                              class="btn bg-orange waves-effect col-lg-12 col-md-12 col-sm-12 col-xs-12"
                              id="addBtn<%=data.id%>1">Mark as Complete</button>
                          </a></br>
                          <a><button data-toggle="modal" data-target="#cancelOrderModal<%=data.id%>"
                            class="btn bg-red waves-effect col-lg-12 col-md-12 col-sm-12 col-xs-12"
                            id="addBtn<%=data.id%>1">Cancel Order</button>
                        </a>
  
  
                        <div class="modal fade" id="openMarkAsCompleteModal<%=data.id%>" tabindex="-1"
                          role="dialog" data-keyboard="false" data-backdrop="static">
                          <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title" id="largeModalLabel">Mark As Complete</h4>
                              </div>
                              <div class="modal-body">
                                <div class="form-group">
                                  <label>SE Name:</label>
                                  <select id="SElistSelect<%=data.id%>" onchange="handler1<%=data.id%>()">
                                    <option value="">--SELECT EMPLOYEE--</option>
                                    <% seList.forEach(function(SEdetails){ %>
                                        <option value="<%=SEdetails.id%>">
                                            <%=SEdetails.first_name%> <%=SEdetails.last_name%>
                                        </option>
                                        <%})%>
                                </select></br></br>
                                <label>Date of Completion</label>
                                <div class="form-line"><input type="date" class="form-control date" id="dateTime1<%=data.id%>" onchange="handler1<%=data.id%>()"></div>
                              </div>
                              </div>
                              <div class="modal-footer">
                                <a href="#" id="confirmButtonWithDates<%=data.id%>"><button id="confirmButton<%=data.id%>"
                                    type="button" class="btn btn-link waves-effect bg-teal">Mark as
                                    Completed</button></a>
                                <button type="button"
                                  class="btn btn-link waves-effect bg-red" data-dismiss="modal">CLOSE</button>
                              </div>
                            </div>
                          </div>
                          <script>
                            function handler1<%=data.id%> () {
                              var orderID = <%=data.id%>;
                            var wooComID = <%=data.order.woo_commerce_order_id%>;
                            var SEName = document.getElementById("SElistSelect<%=data.id%>").value;
                            var dateOfCompletion = document.getElementById("dateTime1<%=data.id%>").value;
                            url = "/markAsCompleteInSearch/" + orderID +"/" + wooComID + "/" + SEName + "/" + dateOfCompletion;
                            $("#confirmButtonWithDates<%=data.id%>").attr("href", url);
                          // return true;
                        }
                        
                          </script>
                        </div>
  
  
                          <!-- <div class="modal fade" id="openMarkAsCompleteModal<%=data.id%>" tabindex="-1"
                            role="dialog" data-keyboard="false" data-backdrop="static">
                            <div class="modal-dialog modal-sm" role="document">
                            </div>
                            <script>
                              var orderID = <%=data.id%>;
                              var wooComID = <%=data.order.woo_commerce_order_id%>;
                              url = "/markAsCompleteInSearch/" + orderID+"/"+wooComID;
                              console.log(url);
                              $("#confirmButtonWithDates<%=data.id%>").attr("href", url);
                            </script>
                            <script>
                              // function enableButton<%=data.id%>(inputValue){
                              //   var inputValue = inputValue;
                              //   var confirmValue = <%=data.order.woo_commerce_order_id%>;
  
                              //   console.log(inputValue, confirmValue);
                              // }
  
                              var el = document.getElementById("confirmCompleteInput<%=data.id%>");
                              el.addEventListener('keyup', function () {
                                var inputValue = document.getElementById("confirmCompleteInput<%=data.id%>").value;
                                var confirmValue = <%=data.order.woo_commerce_order_id%>;
                                if (parseInt(inputValue) == parseInt(confirmValue)) {
                                  $("#confirmButton<%=data.id%>").attr("disabled", false);
                                } else {
                                  $("#confirmButton<%=data.id%>").attr("disabled", true);
                                }
                                console.log(inputValue, confirmValue);
                              });
                            </script>
                          </div> -->
  
  
  
  
  
                          <div class="modal fade" id="cancelOrderModal<%=data.id%>" tabindex="-1"
                            role="dialog" data-keyboard="false" data-backdrop="static">
                            <div class="modal-dialog modal-sm" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h4 class="modal-title" id="largeModalLabel">Enter Order ID to Cancel Order</h4>
                                </div>
                                <div class="modal-body">
                                  <div class="form-group">
                                    <div class="form-line">
                                      <input type="text" class="form-control"
                                        placeholder="<%=data.order.woo_commerce_order_id%>"
                                        id="confirmCancelInput<%=data.id%>" />
                                    </div>
                                  </div>
                                  <!-- onchange="enableButton<%=data.id%>(this.value)"  -->
                                </div>
                                <div class="modal-footer">
                                  <a href="#" id="cancelButtonWithDates<%=data.id%>"><button
                                      onclick="removeLocalSTorage()" id="calcelButton<%=data.id%>"
                                      type="button" class="btn btn-link waves-effect bg-teal" disabled>Cancel Order</button></a>
                                  <button onclick="removeLocalSTorage()" type="button"
                                    class="btn btn-link waves-effect bg-red" data-dismiss="modal">CLOSE</button>
                                </div>
                              </div>
                            </div>
                            <script>
                              var orderID1 = <%=data.order.woo_commerce_order_id%>;
  
                              url = "/cancelOrderFromSearch/" + orderID1;
                              console.log(url);
                              $("#cancelButtonWithDates<%=data.id%>").attr("href", url);
                            </script>
                            <script>
  
                              var el = document.getElementById("confirmCancelInput<%=data.id%>");
                              el.addEventListener('keyup', function () {
                                var inputValue = document.getElementById("confirmCancelInput<%=data.id%>").value;
                                var confirmValue = <%=data.order.woo_commerce_order_id%>;
                                if (parseInt(inputValue) == parseInt(confirmValue)) {
                                  $("#calcelButton<%=data.id%>").attr("disabled", false);
                                } else {
                                  $("#calcelButton<%=data.id%>").attr("disabled", true);
                                }
                                console.log(inputValue, confirmValue);
                              });
                            </script>
                          </div>
  
  
  
                        </td>
                        <%}else{%>
                          <td width="20%">
                            No Actions Available
                          </td>
                          <%}%>
                      </tr>
                      <%}%>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
      <!-- #END# Hover Rows -->
    </div>

  </section>
  <!-- Jquery Core Js -->
  <script src="plugins/jquery/jquery.min.js"></script>

  <!-- Bootstrap Core Js -->
  <script src="plugins/bootstrap/js/bootstrap.js"></script>
  <!-- Custom Js -->
  <script src="js/admin.js"></script>
  <script src="js/pages/index.js"></script>
  <script src="js/pages/tables/jquery-datatable.js"></script>

  <!-- Demo Js -->
  <script src="js/demo.js"></script>
</body>

</html>